{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": [
    "react",
    "react-native"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "rules": {
    "no-trailing-spaces": ["error", { "skipBlankLines": true, "ignoreComments": true }],
    "object-curly-newline": ["error", {
      "multiline": true,
      "minProperties": 4,
      "consistent": true
    }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": "off",
    "global-require": "off",
    "linebreak-style": 0
  }
}